extends layoutsView
block contenido
     section.tareas_proyecto.py-5
          .container
               h2.text-center= proyecto.name
               .row.justify-content-center
                    .col-md-10.col-lg-8
                         form(action='', method="POST").card-body
                              if error
                                   div.alert.alert-danger= error
                              .form-group
                                   label(for="name").font-weight-bolder TAREA:
                                   input(type="text" name="name" placeholder="Nombre Tarea" class="form-control form-control-lg")
                              button(type="submit" class="btn btn-primary btn-lg") AGREGAR
                         .tareas.py-3
                              //- pre= vardump(tareas)
                              h4 TAREAS
                              ul.list-group.list-group-flush.mb-3.listado-tareas
                                   if tareas.length === 0
                                        li.list-group-item.lead.bg-body No tienes ninguna tarea agregada
                                   else
                                        each tarea in tareas
                                             li(data-id=tarea.id).list-group-item.d-flex.justify-content-between.align-items-center.bg-body
                                                  span.lead= tarea.name

                                                  .d-flex.align-items-center
                                                       if tarea.estado
                                                            i(class="far fa-2x fa-check-circle text-success mr-2", style="cursor: pointer")
                                                       else
                                                            i(class="far fa-2x fa-check-circle text-danger mr-2", style="cursor: pointer")
                                                       i(class="fas fa-2x fa-times ml-2 text-danger", style="cursor: pointer" )   
                         .avance-proyecto.py-3
                              h5.text-center AVANCE DEL PROYECTO
                              .progress
                                   .progress-bar.progress-bar-striped.progress-bar-animated(style='width: 0%')

                         .botones.d-flex.justify-content-center.align-items-center.btn-group
                              a(href=`/proyectos/${proyecto.url}/edit`).btn.btn-warning.btn-lg EDITAR PROYECTO
                              button(class="eliminar-proyecto", data-url=proyecto.url).btn.btn-danger.btn-lg ELIMINAR PROYECTO
                              

          